<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Llamadas</title>

    <style type="text/css">
        /*Estilos CSS propios*/
        footer {
            position: absolute;
            bottom: 0;
            font-family: titulares;
            font-size: 13px;
            color: white;
        }
    </style>


</head>

<body>
    <h1>Registro de llamadas</h1>

    <!--Formulario para el ingreso de nuevas tareas tomado de Bootstrap-->
    <form method="post" action="{{url_for('enviar')}}">
        <div class="form-group">
            <label>Nro. de Llamada</label>
            <input type="text" class="form-control" placeholder="Ingrese el numero de llamada" name="nroLlamada">
        </div>
        <div class="form-group">
            <label>Placa Vehículo</label>
            <input type="text" class="form-control" placeholder="Ingrese la placa del vehiculo" name="placaVehiculo">
        </div>
        <div class="form-group">
            <label>Fecha</label>
            <input type="text" class="form-control" placeholder="Ingrese la fecha" name="fecha">
        </div>
        <div class="form-group">
            <label>Hora</label>
            <input type="text" class="form-control" placeholder="Ingrese la hora" name="hora">
        </div>
        <div class="form-group">
            <label>Prediccion</label>
            <input type="text" class="form-control" placeholder="Ingrese el ultimo digito de la placa" name="prediccion">
        </div>

        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" value="Registrar" class="btn btn-dark">
        </div>
    </form><br>

    <h1>Listado de Llamadas</h1>
    <!--Controlador 1.1 Tabla para mostrar las tareas-->
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nro. Llamada</th>
                <th scope="col">Placa Vehiculo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Prediccion</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                {% for tarea in listaLlamadas %}
                <!--Mostrar el numero de llamada-->
                <th>{{tarea.nroLlamada}}
                    <button type="submit" class="btn btn-outline-warning">Borrar Registro</button>
                </th>
                <!--Mostrar la placa del vehiculo-->
                <th>{{tarea.placaVehiculo}}</th>
                <!--Mostrar la fecha-->
                <th>{{tarea.fecha}}</th>
                <!--Mostrar hora-->
                <th>{{tarea.hora}}</th>
                <!--Mostrar prediccion-->
                <th>{{tarea.prediccion}}

                </th>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!--Funcion controlador para guardar registros en archivo *.pickle-->
    <form action="{{url_for('guardar')}}" method="post" class="card-body">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-success">Guardar Registros</button>
        </div>
    </form>

    <!--Funcion controlador para borrar registros-->
    <form action="{{url_for('borrar')}}" method="post" class="card-body">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-danger mb-2">Borrar registros</button>
        </div>
    </form>


</body>
</html>